.item-img {
  width: 100%;
}

.productWrap {
  display: grid;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  span {
    text-overflow: ellipsis;
  }
}

.item-details {
  margin-top: 1rem;
  max-height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  min-height: 54px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.item-name {
  display: block;
  font-weight: 600;
}

.item-description {
  font-size: 0.8rem;
  padding: 0.4rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 18px;
  min-height: 54px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 100;
}

.item-price {
  font-weight: 300;
}
